body {
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* Standard syntax */
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
  position : absolute;
  top : 0px;
  left:0px;
  right:0px;
  bottom : 0px; 
}
input[type=range][orient=vertical]{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 100%;
    padding: 0 5px;
}
.containerInput{
	position : absolute;
	top:0px;
	left : 10%;
	height: 95%;
	padding :20px;
}
#draggable {
	width: 55px; 
	height: 25px; 
	padding: 0.5em; 
	border-style: solid; 
	border-width: 2px;
	position : absolute;
	top:45%;
}
#info {
	width: 125px; 
	height: 50px; 
	padding: 0.5em; 
	border-style: solid; 
	border-width: 1px;
	position : absolute;
	top:2%;
	right:2%;
	text-align: center;
	background : rgb(10,10,100);
}
#reponse{
  position : absolute;
  top : 50px;
  left:0px;
  right:0px;
  bottom : 0px;
  text-align: center;

}
.btncontainer{
	left:0px;
  	right:0px;
   	text-align: center;
}