 body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
}
.container {
    padding: 20px;
    text-align: center;
}
#input-a{
	font-size: 100px;
	width: 250px;
	border: none;
}
#input-a:hover{
	 border: none;
}
#input-a:focus{
	outline:  none;
}
label{
	margin-right: 30px;
}
.colorbackground {
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* Standard syntax */
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
  position : absolute;
  top : 60px;
  left:20px;
  right:20px;
  bottom : 10px; 
}

#draggable { width: 30px; height: 30px;  }

.mbtn{
	 text-align: center;
	 margin-top: 20px;
}

#info {
	width: 150px; 
	height: 50px; 
	padding: 0.5em; 
	border-style: solid; 
	border-width: 1px;
	position : absolute;
	top:2%;
	right:2%;
	text-align: center;
	background : rgb(10,10,100);
}